* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility  */

.debug{
    height: 200px;
    width: 400px;
}


.img-top {
    justify-content: center;
    background-color: rgb(6, 80, 241);
}

.text-main {

    background-color: rgb(255, 145, 101);
}
/* /utility */

.container {
    max-width: 70%;
    margin: auto;
    height: auto;
    text-align: center;
    margin: 30px 400px;
    background-color: purple;

    border: 1px solid;
    border-color: yellow;

}

#app-header {
    background-color: blue;
    height: 250px;
    width: 100%;
    padding: 10px;

}

.nav {
    display: flex;
    margin: auto;
    max-width: 70%;
    justify-content: space-between;
    background-color: orange;

    border: 1px solid;
    border-color: yellow;
}

/* header  macro */


/*main area */
.upper-main {
    justify-content: center;
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 30px;
}



.bottom-main {
    justify-content: center;
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 30px;
    

    background-color: lightgrey;
}

